<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Redirect base BCS path to Austin
  RewriteRule ^bussiness-communication-solution/?$ /bussiness-communication-solution/austin [L]
  
  # Don't rewrite files or directories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Rewrite everything else to index.html to allow HTML5 state routing
  RewriteRule ^ index.html [L]
</IfModule>
